@import url('https://fonts.googleapis.com/css?family=Nunito:100,300,400,600,700');
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
	margin: 0;
	background-color: #e8ebef;
	font-family:Nunito,arial,sans-serif;
	padding-top: 0;
}
.menu-md {
	display: flex;
	position: fixed;
	z-index: 1;
	background-color: #fff;
	width: 100%;
	height: 120px;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.logo {
	height: 50px;
	width: 150px;
	font-size: 31px;
	color: black;
	margin: 15px 0 0 0;
}
/* Full-width input fields */


.navbar-md {
	display: flex;
	flex-direction: row;
}

.navs-md {
	width: 550px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.navs-md {
	list-style-type: none;
}

a.btn-nav {
color: #42a1f4;
font-family: arial;
text-decoration: none;
padding: 5px 20px;
border-bottom: 3px solid white;
display: inline-block;
width: auto;
transition: background .5s , color .5s , border .5s ;
position: relative;
}

a.btn-nav:hover {
color: black;
border: none;
border-bottom: 3px solid #42a1f4;
}
.search-nav {
  width: 75px;
}

.search-nav form {
  position: relative;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 45px;
  height: 45px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid #42a1f4;
}

.search-nav input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}


.search-nav .fa {
  box-sizing: border-box;
  padding: 10px;
  width: 40.5px;
  height: 40.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #42a1f4;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.search-nav form:hover {
  width: 140px;
  cursor: pointer;
}

.search-nav form:hover input {
  display: block;
}

.search-nav form:hover .fa {
  background: #07051a;
  color: white;
}


.topnav {
	display: none;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #fff;
  color: #42a1f4;
  display: block;
  position: absolute;
  right: 0;
  top: 5%;
  font-size: 1.5em;
}
#myLinks a{
	border-bottom: 1.5px solid #42a1f4;
}
#myLinks a:hover{
	color: #42a1f4;
}
.active {
  background-color: #fff;
  color: black;
}
.news-md {
	display: flex;
	justify-content: center;
	padding: 45px;
}

.news-block-md {
	width: 65%;
	margin-top: 8%;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

h3 {
	font-size: 30px;
	color: #fff
}

h4 {
	font-size: 24px;
	color: #fff;
}

#mySlider a {
	padding: 10px 25px;
	background-color: #42a1f4;
	color: #fff;
	border-radius: 25px;
	text-decoration: none;
}

#mySlider a:hover {
	background-color: #4397e0;
}

#sliderNav i {
	font-size: 18px;
	color: #fff;
}

#mySlider {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 450px;
}

.slideOverlay {
	background-color: rgba(0, 0, 0, 0.1);
	height: 450px;
	padding: 1px 100px 200px 70px;
}

.singleSlide {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 450px;
	position: absolute;
	left: 100%;
	width: 100%;
	top: 0px;
}

#sliderNav {
	position: relative;
	top: -175px;
}

#sliderNav:hover {
	cursor: pointer;
}

#sliderPrev {
	position: relative;
	float: left;
	left: 25px;
}

#sliderNext {
	position: relative;
	float: right;
	right: 25px;
}

@-webkit-keyframes slideIn {
	100% {
		left: 0;
	}
}

@keyframes slideIn {
	100% {
		left: 0;
	}
}

.slideInRight {
	left: -100%;
	-webkit-animation: slideIn 1s forwards;
	animation: slideIn 1s forwards;
}

.slideInLeft {
	left: 100%;
	-webkit-animation: slideIn 1s forwards;
	animation: slideIn 1s forwards;
}

@-webkit-keyframes slideOutLeft {
	100% {
		left: -100%;
	}
}

@keyframes slideOutLeft {
	100% {
		left: -100%;
	}
}

.slideOutLeft {
	-webkit-animation: slideOutLeft 1s forwards;
	animation: slideOutLeft 1s forwards;
}

@-webkit-keyframes slideOutRight {
	100% {
		left: 100%;
	}
}

@keyframes slideOutRight {
	100% {
		left: 100%;
	}
}

.slideOutRight {
	-webkit-animation: slideOutRight 1s forwards;
	animation: slideOutRight 1s forwards;
}

.blocks-md {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 25px;
	position: relative;
	width: 85%;
	margin-left: 7.5%;
}

.blocks-height {
	height: 390px;
}

.blocks-md a {
	position: relative;
	width: 50%
}

.news-img {
	opacity: 1;
	display: block;
	width: 100%;
	height: 390px;
	transition: .5s ease;
}

.img1 {
	background: url('../../The Soyle/img/main2.jpg');
	backface-visibility: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 120%;
}

.img2 {
	background: url('../../The Soyle/img/qwe.jpg');
	backface-visibility: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 120%;
}

.img3 {
	background: url('../../The Soyle/img/asd.jpg');
	backface-visibility: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 120%;
}

.no-photo {
	opacity: 1;
	background-color: #a8a8a8;
	display: block;
	width: 100%;
	height: 390px;
	transition: .5s ease;
	backface-visibility: hidden;
}

.blocks-md:hover .news-img {
	opacity: 0.3;
}

.blocks-md:hover .no-photo {
	opacity: 0.3;
}

.blocks-md:hover #block-first {
	opacity: 1;
}

.blocks-md:hover .categories-main a {
	color: #4397e0;
}

.blocks-md:hover .text-main span {
	color: #4397e0;
}

#block-first {
	left: 50%;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.read-more a {
	padding: 10px 25px;
	background-color: #42a1f4;
	color: #fff;
	border-radius: 25px;
	text-decoration: none;
}

.read-more a:hover {
	background-color: #4397e0;
}

.categories-main {
	position: absolute;
	top: 8%;
	left: 5%;
}

.categories-main a {
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
	padding: 5px;
}

.categories-main a:hover {
	text-decoration: underline;
	color: #4397e0;
}

.text-main {
	position: absolute;
	width: 75%;
	overflow: hidden;
	text-overflow: ellipsis;
	top: 75%;
	left: 5%;
}

.text-main span {
	font-size: 2em;
	color: #fff;
}


.footer-stuff{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 200px;
	background-color: #232323;
}
.footer-logo p{
	font-size: 1.2em;
	color: #8d9092;
}
.footer-icons{
	margin-top: -1%;
}
.icons{
	margin-top: 3%;
	margin-left: 15%;
}
.footer-icons p{
	margin-block-start: 0 !important;
	margin-block-end: 0 !important;
	font-size: 1.4em;
	color: #8d9092;
}

.fab.fa-instagram{
	font-size: 1.3em;
	margin-top: 2%;
	color: #8d9092;
}
.fab.fa-instagram:hover{
	color: #fff;
}
.fab.fa-facebook-f{
	margin-left: 4%;
	font-size: 1.3em;
	color: #8d9092;
}
.fab.fa-facebook-f:hover{
	color: #fff;
}
.fab.fa-vk{
	margin-left: 4%;
	font-size: 1.3em;
	color: #8d9092;
}
.fab.fa-vk:hover{
	color: #fff;
}
.fab.fa-twitter-square{
	margin-left: 4%;
	font-size: 1.3em;
	color: #8d9092;
}
.fab.fa-twitter-square:hover{
	color: #fff;
}
.footer-copyright p{
	color: #555;
}




@media (max-width: 400px){
	.news-md{
		display: block;
		width: auto;
	}
	.news-block-md{
		width: 100%;
		margin-top: -10%;
	}

	h3 {
		font-size: 1.5em;
		margin-left: -3%;
		margin-top: 8%;

	}
	h4 {
		font-size: .7em;
		margin-left: -3%;
	}
	#mySlider a {
		width: 0px;
		height: 20px;
		font-size: .5em;
		padding: 7px 10px;
		margin-left: -3%;
	}
	#mySlider {
		height: 200px;
	}
	.sliderOverlay {
		height: 200px;
	}
	.singleSlide {
		height: 200px;
	}
	#sliderNav{
		top: -100px;
	}
	.news-img {
		height: 170px;
	}
	.no-photo {
		height: 170px;
	}
	.blocks-md {
		display: block;
		height: 170px;
	}
	.text-main {
		top: 75%;
	}
	.read-more {
		margin-bottom: 200%;
	}
	.text-main span {
		font-size: .8em;
	}
	.categories-main a {
		font-size: 1em;
	}
	.read-more a {
		padding: 3px 5px;
		font-size: .8em;
	}
	.footer-stuff{
		width: 120%;
	}
}

@media (min-width: 400px) and (max-width: 480px){
	
	.news-block-md{
		width: 100%;
		margin-top: -10%;
	}

	h3 {
		font-size: 1.5em;
		margin-left: -3%;
		margin-top: 8%;

	}
	h4 {
		font-size: .7em;
		margin-left: -3%;
	}
	#mySlider a {
		width: 0px;
		height: 20px;
		font-size: .5em;
		padding: 7px 10px;
		margin-left: -3%;
	}
	#mySlider {
		height: 200px;
	}
	.sliderOverlay {
		height: 200px;
	}
	.singleSlide {
		height: 200px;
	}
	#sliderNav{
		top: -100px;
	}
	.news-img {
		height: 170px;
	}
	.no-photo {
		height: 170px;
	}
	.blocks-md {
		display: block;
		height: 170px;
	}
	.text-main {
		top: 75%;
	}
	.read-more {
		margin-bottom: 200%;
	}
	.text-main span {
		font-size: .8em;
	}
	.categories-main a {
		font-size: 1em;
	}
	.read-more a {
		padding: 3px 5px;
		font-size: .8em;
	}
	.footer-stuff{
		width: 100%;
	}

}
@media (min-width: 480px) and (max-width: 645px) {
	.menu-md {
		height: 80px;
		border-bottom: 1.5px solid black;
	}
	.logo {
		height: 28px;
		width: 84px;
		font-size: 18px;
	}
	.login a {
		font-size: .4em;
	}
	.navs-md {
		width: 400px;
	}
	.navs-md a {
		font-size: 12px;
	}
	.search-nav {
		width: 50px;
	}
	form {
		left: 90%;
		top: 60%;
		width: 25px;
		height: 25px;
	}
	input {
		height: 20.5px;
		line-height: 12px;
		border-radius: 10px;
		width: 150%;
		font-size: .8em;
	}
	.fa {
		padding: 4px;
		width: 20.5px;
		height: 20.5px;
		font-size: .8em;
	}
	form:hover {
		width: 70px;
	}
	h3 {
		font-size: 16px;
		margin-left: -3%;
	}
	h4 {
		font-size: 11px;
		margin-left: -3%;
	}
	#mySlider a {
		width: 0px;
		height: 20px;
		font-size: .5em;
		padding: 7px 10px;
		margin-left: -3%;
	}
	.news-block-md {
		width: 85%;
		margin-top: 12%;
	}
	#mySlider {
		height: 230px;
	}
	.sliderOverlay {
		height: 230px;
	}
	.singleSlide {
		height: 230px;
	}
	.news-img {
		height: 170px;
	}
	.no-photo {
		height: 170px;
	}
	.blocks-md {
		display: block;
		height: 170px;
	}
	.text-main {
		top: 75%;
	}
	.read-more {
		margin-bottom: 200%;
	}
	.text-main span {
		font-size: .8em;
	}
	.categories-main a {
		font-size: 1em;
	}
	.read-more a {
		padding: 3px 5px;
		font-size: .8em;
	}
}

@media (min-width: 645px) and (max-width: 768px) {
	h3 {
		font-size: 20px;
		margin-left: -3%;
	}
	h4 {
		font-size: 14px;
		margin-left: -3%;
	}
	#mySlider a {
		width: 0px;
		height: 20px;
		font-size: .5em;
		padding: 7px 10px;
		margin-left: -3%;
	}
	.menu-md {
		height: 80px;
		border-bottom: 1.5px solid black;
	}
	.logo {
		height: 28px;
		width: 84px;
		font-size: 18px;
	}
	.login a {
		font-size: .4em;
	}
	.navs-md {
		width: 400px;
	}
	.navs-md a {
		font-size: 12px;
	}
	.search-nav {
		width: 50px;
	}
	form {
		left: 90%;
		top: 60%;
		width: 25px;
		height: 25px;
	}
	input {
		height: 20.5px;
		line-height: 12px;
		border-radius: 10px;
		width: 150%;
		font-size: .8em;
	}
	.fa {
		padding: 4px;
		width: 20.5px;
		height: 20.5px;
		font-size: .8em;
	}
	form:hover {
		width: 70px;
	}
	.news-block-md {
		width: 85%;
	}
	#mySlider {
		height: 300px;
	}
	.sliderOverlay {
		height: 300px;
	}
	.singleSlide {
		height: 300px;
	}
	.news-img {
		height: 220px;
	}
	.no-photo {
		height: 220px;
	}
	.blocks-md {
		display: block;
		height: 220px;
	}
	.text-main {
		top: 75%;
	}
	.read-more {
		margin-bottom: 150%;
	}
	.text-main span {
		font-size: 1.2em;
	}
}

@media (min-width: 768px) and (max-width: 930px) {
	h3 {
		font-size: 20px;
		margin-left: -3%;
	}
	h4 {
		font-size: 14px;
		margin-left: -3%;
	}
	#mySlider a {
		width: 0px;
		height: 20px;
		font-size: .5em;
		padding: 7px 10px;
		margin-left: -3%;
	}
	.menu-md {
		height: 80px;
		border-bottom: 1.5px solid black;
	}
	.logo {
		height: 28px;
		width: 84px;
		font-size: 18px;
	}
	.login a {
		font-size: .4em;
	}
	.navs-md {
		width: 400px;
	}
	.navs-md a {
		font-size: 12px;
	}
	.search-nav {
		width: 50px;
	}
	form {
		left: 90%;
		top: 60%;
		width: 25px;
		height: 25px;
	}
	input {
		height: 20.5px;
		line-height: 12px;
		border-radius: 10px;
		width: 150%;
		font-size: .8em;
	}
	.fa {
		padding: 4px;
		width: 20.5px;
		height: 20.5px;
		font-size: .8em;
	}
	form:hover {
		width: 70px;
	}
	.news-block-md {
		margin-top: 8%;
	}
	#mySlider {
		height: 300px;
	}
	.sliderOverlay {
		height: 300px;
	}
	.singleSlide {
		height: 300px;
	}
	.news-img {
		height: 220px;
	}
	.no-photo {
		height: 220px;
	}
	.blocks-md {
		display: block;
		height: 220px;
	}
	.text-main {
		top: 75%;
	}
	.read-more {
		margin-bottom: 150%;
	}
	.text-main span {
		font-size: 1.2em;
	}
}

@media (min-width: 930px) and (max-width: 1024px) {
	h3 {
		font-size: 25px;
		margin-left: -1%;
	}
	h4 {
		font-size: 19px;
		margin-left: -1%;
	}
	#mySlider a {
		font-size: .7em;
		padding: 7px 10px;
		margin-left: -1%;
	}
	.news-block-md {
		margin-top: 10%;
	}
	#mySlider {
		height: 350px;
	}
	.sliderOverlay {
		height: 350px;
	}
	.singleSlide {
		height: 350px;
	}
	.news-img {
		height: 220px;
	}
	.no-photo {
		height: 220px;
	}
	.blocks-md {
		display: block;
		height: 220px;
	}
	.text-main {
		top: 75%;
	}
	.read-more {
		margin-bottom: 150%;
	}
	.text-main span {
		font-size: 1.2em;
	}
}

@media (min-width: 1024px) and (max-width: 1200px) {
	.news-block-md {
		margin-top: 10%;
	}
	#mySlider {
		height: 390px;
	}
	.sliderOverlay {
		height: 390px;
	}
	.singleSlide {
		height: 390px;
	}
	.news-img {
		height: 300px;
	}
	.no-photo {
		height: 300px;
	}
	.blocks-md {
		display: block;
		height: 300px;
	}
	.text-main {
		top: 75%;
	}
	.read-more {
		margin-bottom: 220%;
	}
	.text-main span {
		font-size: 1.5em;
	}
}



@media (min-width: 100px) and (max-width: 480px){
	.menu-md{
		display: none;
	}
	.topnav{
		display: block;
	}
}

@media (min-width: 480px) and (max-width: 780px) {
	.menu-md{
		height: 90px;
	}
	.logo {
	height: 30px;
	width: 100px;
	font-size: 1.3em;
    }
    .navs-md{
    	width: 350px;
    }
    a.btn-nav {
		padding: 2px 8px;
		border-bottom: 1.5px solid white;
	}
    a.btn-nav:hover {
	    border-bottom: 1.5px solid #42a1f4;
	}
	.search-nav {
	width: 40px;
    }

form {
	position: relative;
	left: 100%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 1s;
	width: 40px;
	height: 40px;
	background: white;
	box-sizing: border-box;
	border-radius: 25px;
	border: 2px solid #42a1f4;
    }

input {
	height: 35.5px;
    }
.fa {
	width: 36.5px;
	height: 36.5px;
    }
form:hover {
	width: 80px;	
    }
}