/*not necessary*/
@import url('https://fonts.googleapis.com/css?family=Nunito:100,300,400,600,700');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body{font-family:Nunito,arial,sans-serif;}

.menu-md {
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  height: 120px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.logo {
  height: 50px;
  width: 150px;
  font-size: 31px;
  color: black;
  margin: 15px 0 0 0;
}
/* Full-width input fields */


.navbar-md {
  margin-top: .9%;
  display: flex;
  flex-direction: row;
}

.navs-md {
  width: 590px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navs-md {
  list-style-type: none;
}

a.btn-nav {
color: #42a1f4;
font-family: arial;
text-decoration: none;
padding: 5px 20px;
border-bottom: 3px solid white;
display: inline-block;
width: auto;
transition: background .5s , color .5s , border .5s ;
position: relative;
}

a.btn-nav:hover {
color: black;
border: none;
border-bottom: 3px solid #42a1f4;
}
.search-nav {
  width: 75px;
  margin-top: -3.5%;
}

.search-nav form {
  position: relative;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 45px;
  height: 45px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid #42a1f4;
}

.search-nav input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}


.search-nav .fa {
  box-sizing: border-box;
  padding: 10px;
  width: 40.5px;
  height: 40.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #42a1f4;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.search-nav form:hover {
  width: 140px;
  cursor: pointer;
}

.search-nav form:hover input {
  display: block;
}

.search-nav form:hover .fa {
  background: #07051a;
  color: white;
}


.section{float:left;width:100%;background: #e8ebef;padding:90px 0;}
.promote{border:1px dashed #ddd;display:flex; height:100%;justify-content: center;flex-direction: column;align-items: stretch;}
.col-md-4{padding:15px;}

/*not necessary*/


.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-2 .card-body{
    position:relative;
    background-color: #e8ebef;
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 20%;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);

}
.profile-card-2 h5{
    font-weight:600;
    color:#007bff;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}
.profile-card-2 i {
  display: inline-block;
    font-size: 16px;
    color: #007bff;
    text-align: center;
    border: 1px solid #007bff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-2 i:hover {
  background-color:#007bff;
  color:#fff;
}
.container{
  width: 80%;
  padding: 45px;
  align-items: center;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
 .profile-card-2{
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}